@model List<ResultPropertyDTO>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<style>
    img{
        border-radius:50%;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Fırsat Listesi</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">İlan Görseli</th>
                                <th scope="col">Başlık</th>
                                <th scope="col">Sil</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Sitede Gör</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td><img src="@item.coverimage" height="50" width="50" /></td>
                                    <th scope="row">@item.title</th>
                                    <td><a href="/Product/DeleteProperty/@item.PropertyID" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Category/UpdateCategory/@item.PropertyID" class="btn btn-outline-success">Güncelle</a></td>
                                    <td><a href="/Property/PropertySingle/@item.PropertyID" class="btn btn-outline-primary">Sitede Gör</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>